alias grab="sudo pacman -S "
alias yta="youtube-dl -x --audio-format flac"
alias ytv="youtube-dl --add-metadata"
alias f="nvim ."
alias j="joplin"
alias v="nvim"

# directory jumps


alias gs="cd ~/Documents/school"

