alias grab="sudo pacman -S "
alias yta="youtube-dl -x --audio-format flac"
alias ytv="youtube-dl --add-metadata"
alias f="nvim ."
alias j="joplin"
alias v="nvim -p"
alias open="rifle"

alias preonic="bat ~/Code/qmk_firmware/keyboards/preonic/keymaps/anode194/keymap.c"
# directory jumps

alias gs="cd ~/Documents/school"
alias gw="cd ~/Media/Pictures/WallPapers/ultrawide/"


